* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content {
    text-align: center;
    z-index: 2;
}

.title {
    font-size: 3em;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.snow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/daniel-lundin/snowfall/master/snowflakes.png') repeat;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}
